<div class="container-fluid m-0 p-0">
  <div class="carousel-hero">
    <div class="slider-parent">
      <img class="img-slider" id="imgEl" [src]="" [alt]="" />
      <div class="floating-text">
        <span>
          <a routerLink="/hero">
            YANA <br> HOME
          </a>
        </span>
      </div>
    </div>
    <div class="content-hero">
      <div id="yana-top" class="yana-content">
        <img class="yana-content-img" src="../../..//assets/images/optimizes-images/plate.jpg" alt="">
        <div class="glass-box">
          <span class="glass-box-text">
            Kitchen
          </span>
        </div>
      </div>
      <div id="yana-down" class="yana-content">
        <div class="gif-player">
          <span class="gif-text">
            Rest <br> With <br> Us
          </span>
          <img class="gif" src="../../../assets/videos/YANAHOME.gif" alt="yana-home-gif">
        </div>
      </div>
    </div>
  </div>
</div>
