<div class="container">
  <div class="shopping-cock-pit">
    <div class="factor"></div>
    <div class="products">
      <div class="title">سبد خرید شما</div>
      <div class="product-box">
        <div class="product-img h-100">
          <img src="../../../assets/images/gray-cushion.jpg" alt="gray-cushion">
        </div>
        <div class="product-description"></div>
      </div>
      <div class="product-handlers">
        <div class="product-icons">
          <img src="../../../assets/icons/shopping-cart/plus.svg" alt="plus">
          <img src="../../../assets/icons/shopping-cart/trash.svg" alt="trash">
        </div>
      </div>
    </div>
  </div>
</div>
