@font-face {
  font-family: iranSans;
  src: url("./assets/Fonts/iranSans/iranSans/ttf/IRANSansWeb_Light.ttf");
}
@font-face {
  font-family: Dosis-semiBold;
  src: url("./assets/Fonts/Dosis/static/Dosis-SemiBold.ttf");
}
@font-face {
  font-family: Dosis-Medium;
  src: url("./assets/Fonts/Dosis/static/Dosis-Medium.ttf");
}
@font-face {
  font-family: yekan;
  src: url("./assets/Fonts/iranSans/iranSans/ttf/IRANSansWeb_Light.ttf");
}
@font-face {
  font-family: Cinzel;
  src: url("./assets/Fonts/Cinzel/static/Cinzel-Bold.ttf");
}
@font-face {
  font-family: Pacifico;
  src: url("./assets/Fonts/Pacifico/Pacifico-Regular.ttf");
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* ::selection {
  background-color: #60411dff;
  color: #f6f6f6;
  font-weight: normal;
}

.container {
  padding: 0 1rem !important;
}

body {
  background-image: url("assets/images/movingBack.png");
  animation: movingGradiant 1200s linear infinite alternate;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

@keyframes movingGradiant {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #212121;
}

::-webkit-scrollbar-thumb {
  background: #c9a383;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

/* Glass Effect
background-color: #ffffff10;
backdrop-filter: blur(5px);
/*

//******Colors END

//***** YANA HOME COLOR PALLET

/* SCSS HEX */
/* SCSS Gradient */
.Navbar {
  background-color: #d3c9cc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.Navbar .navbar-brand {
  margin: 0rem 2rem;
  padding: 0.5rem 0;
}
.Navbar .navbar-brand h3 {
  color: #212121;
  font-family: Pacifico;
  font-size: 2.3rem;
  transition: all 0.3s ease-in-out;
}
.Navbar .navbar-brand h3:hover {
  color: #60411dff;
  transform: scale(1.05);
  cursor: pointer;
}
.Navbar .navbar-links .navbar-ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}
.Navbar .navbar-links .navbar-ul .navbar-li {
  margin: 0 0.7rem;
  display: flex;
  transition: all 0.3s ease-in-out;
}
.Navbar .navbar-links .navbar-ul .navbar-li:hover {
  transform: scale(1.06);
  cursor: pointer;
}
.Navbar .navbar-links .navbar-ul .navbar-li:hover a {
  color: #60411dff;
}
.Navbar .navbar-links .navbar-ul .navbar-li .icons {
  width: 15px;
  height: 15px;
  margin: 0 0.2rem;
}
.Navbar .navbar-links .navbar-ul .navbar-li a {
  font-family: iranSans;
  color: #212121;
  font-size: 0.8rem;
  opacity: 0.9;
  white-space: nowrap;
}
.Navbar .navbar-links .navbar-ul .navbar-li .navbar-drop {
  display: none;
}
.Navbar .navbar-search input[type=search]::-webkit-search-decoration,
.Navbar .navbar-search input[type=search]::-webkit-search-cancel-button,
.Navbar .navbar-search input[type=search]::-webkit-search-results-button,
.Navbar .navbar-search input[type=search]::-webkit-search-results-decoration {
  display: none;
}
.Navbar .navbar-search ::placeholder {
  color: #212121;
  opacity: 0.8;
  text-align: right;
}
.Navbar .navbar-search .serach-input {
  text-align: right;
  margin-left: 1rem;
  padding: 0 0.5rem;
  font-size: 0.9rem;
  font-family: iranSans;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 50%;
}
.Navbar .navbar-search .Btn {
  margin: 0 0.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: iranSans;
  padding: 0.4rem 1.1rem;
  font-size: 0.9rem;
  transition: all 0.3s;
}
.Navbar .navbar-search .Btn:hover {
  background-color: #60411dff;
  color: #ffff;
  animation: rotateBtn 0.3s infinite alternate ease-in-out;
}
@keyframes rotateBtn {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

/*# sourceMappingURL=header.component.css.map */
