<div class="container-fluid p-0 m-0">
  <nav class="navbar navbar-expand-lg navbar-white px-0 ">
    <a class="navbar-brand mx-3" routerLink="/hero">یانا هوم</a>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav px-0">
        <li class="nav-item dropdown">
          <a class="nav-link-hover" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img class="icons" src="../../../assets/icons/hamburger-menu-svgrepo-com.svg" alt="sug">
            دسته بندی کالا ها
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="dropdown-content">
              <a href="#">محبوب ترین ها</a>
              <a href="#">محبوب ترین ها</a>
              <a href="#">محبوب ترین ها</a>
              <a href="#">محبوب ترین ها</a>
              <a href="#">محبوب ترین ها</a>
              <a href="#">محبوب ترین ها</a>
              <a href="#">محبوب ترین ها</a>
              <a href="#">محبوب ترین ها</a>
              <a href="#">محبوب ترین ها</a>
              <a href="#">محبوب ترین ها</a>
              <a href="#">محبوب ترین ها</a>
              <a href="#">محبوب ترین ها</a>
              <a href="#">محبوب ترین ها</a>
              <a href="#">محبوب ترین ها</a>
              <a href="#">محبوب ترین ها</a>
              <a href="#"> ترین ها</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img class="icons" src="../../../assets/icons/discount-svgrepo-com.svg" alt="sug">
            تخفیف ها و پیشنهاد ها
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Auth">
            <img class="icons" src="../../../assets/icons/discount2.svg" alt="amaz">
            شگفت انگیز ها
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sign-up">
            <img class="icons" src="../../../assets/icons/info-svgrepo-com.svg" alt="about">
            درباره ی یانا هوم
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            <img class="icons" src="../../../assets/icons/user-svgrepo-com.svg" alt="user">
            ورود / ثبت نام
          </a>
        </li>
      </ul>
      <form class="d-flex search">
        <input class="form-control mx-2 inner-search" type="search" placeholder="جستجو در محصولات" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">جستجو</button>
      </form>
    </div>
  </nav>
</div>
<!--<li class="nav-item dropdown">-->
<!--  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"-->
<!--     aria-expanded="false">-->
<!--    بلاگ-->
<!--  </a>-->
<!--  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--    <li><a class="dropdown-item" href="#">چارت هفتگی</a></li>-->
<!--    <li><a class="dropdown-item" href="#">محبوب ترین ها</a></li>-->
<!--    <li><a class="dropdown-item" href="#">ویدیو ها</a></li>-->
<!--  </ul>-->
<!--</li>-->
