@import "../../../../src/styles";

.navbar {
  background-color: $WhiteFridge;
  direction: rtl !important;
  padding: 0 !important;
}

.collapse {
  margin: 0 2rem;
}

.navbar-brand {
  font-size: 1.8rem;
  color: $slowBlack;
  font-family: iranSans, sans-serif;
  cursor: default;
  align-items: center;
  transition-duration: 0.3s;

  &:hover {
    color: $tumbleweed;
    transform: scale(1.1);
    cursor: pointer;
  }
}

.nav-item {
  padding: 10px 20px;
  font-family: iranSans, sans-serif;
  margin: 0 !important;
}
.nav-link-hover {
  &:hover .dropdown-menu {
    display: block;
  }
}

.nav-item a {
  font-size: 0.85rem;
  padding: 0;
  color: $slowBlack;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: $tumbleweed;
    transform: scale(1.1);
  }
}

.dropdown-menu {
  padding: 10px;
  margin: 0;
}

.dropdown-content {
  text-shadow: none;
  text-shadow: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  a {
    color: red;
    background-color: gray;
    margin: 0.5rem;
  }
}

.form-control {
  font-size: 0.8rem;
  font-family: iranSans, sans-serif;
  padding-right: 0.5rem;
  text-align: right;
  border-color: $tumbleweed;

  &:focus {
    box-shadow: none;
    border-color: $tumbleweed;
  }
}

.btn {
  font-size: 0.8rem;

  border: 1px solid $tumbleweed;
  color: $tumbleweed;
  font-family: iranSans, sans-serif;

  &:hover {
    background-color: $tumbleweed;
    color: white;
  }
}

.icons {
  width: 15px;
  height: 15px;
}

@media only screen and (max-width: 1024px) {
  .nav-item {
    font-size: 0.8rem;
    padding: 0 8px;
  }
  .search {
    width: 35%;
    justify-content: flex-end;
  }
  .inner-search {
    width: 55%;
  }
}
