<div class="trending-title">
  <span>
    محبوب ترین ها
  </span>
</div>
<div class="trending-section">
  <div class="trending-items" *ngFor="let itemsInfo of trandingItems">
    <div class="items-img">
      <div class="hoverd-text">
        <button class="add-to-card">افزودن به سبد خرید</button>
        <!-- <span> {{itemsInfo.name}}</span> -->
      </div>
      <img loading="lazy" [src]="itemsInfo.image" alt="gray-cushion">
    </div>
    <span class="items-name">
      {{itemsInfo.name}}
    </span>
    <div class="items-info">
      <div class="items-price">
        <span class="discount">
          {{itemsInfo.discount}}
        </span>
        {{itemsInfo.price}}
        <h5>
          تومان
        </h5>
      </div>
    </div>
  </div>
</div>
<div class="store-handler">
  <button routerLink="/products" class="store-btn">فروشگاه</button>
</div>
