@import "../../../../../src/styles";
.trending-title {
  text-align: center;
  margin-bottom: 5rem;
  span {
    font-size: 3.5rem;
    font-family: iranSans;
    font-weight: bold;
    color: $slowBlack;
    opacity: 0.8;
  }
}

.trending-section {
  margin: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .items-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    &:hover {
      .hoverd-text {
        visibility: visible;
        height: 25%;
        cursor: pointer;
        .add-to-card {
          opacity: 1;
        }
      }
      cursor: pointer;
    }
    .hoverd-text {
      position: absolute;
      background-color: #ffffff48;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      width: 100%;
      height: 0;
      visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s ease-out;
      .add-to-card {
        transition: all 0.3s ease-out;
        outline: none;
        border: 1px solid $WhiteFridge;
        color: $WhiteFridge;
        background-color:transparent;
        border-radius: 20px;
        padding: 0.6rem 1.2rem 0.5rem 1.2rem;
        font-family: iranSans;
        font-size: 0.9rem;
        opacity: 0;
        &:hover {
          background-color: $slowBlack;
          color: $pureGold;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
  .trending-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 1rem 0;
    background-color: $WhiteFridge;
    padding-bottom: 1rem;
    img {
      height: 20rem;
      width: 20rem;
      border-radius: 10px;
    }
    .items-name {
      margin: 1rem 0.5rem;
      font-family: iranSans;
      font-size: 1.5rem;
      font-weight: bold;
      opacity: 0.8;
    }
    .items-info {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-end;
      .items-size {
        font-family: iranSans;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        opacity: 0.8;
      }
      .items-price {
        display: flex;
        align-items: center;
        direction: rtl;
        font-weight: bold;
        font-family: iranSans;
        font-size: 1.2rem;
        letter-spacing: 1px;
        opacity: 0.8;
        .discount {
          margin: 0 1rem;
          background-color: $youtube;
          border-radius: 15px;
          padding: 0 0.3rem;
          font-size: 0.9rem;
          color: $WhiteFridge;
          font-weight: bold;
          opacity: 0.8;
        }
        h5 {
          font-size: 0.8rem !important;
          font-weight: bold;
          margin: 0 0.5rem;
          padding: 0;
          opacity: 0.8;
        }
      }
    }
  }
}
.store-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0;
  .store-btn {
    font-family: iranSans;
    padding: 0.6rem 0;
    font-size: 1.2rem;
    width: 30%;
    outline: none;
    color: $coal;
    border: solid $coal 1px;
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $pureGold;
      background-color: $burnedCoal;
      transform: scale(1.03);
      cursor: pointer;
    }
  }
}
