<div class="trending-title">
  <span>
    محبوب ترین ها
  </span>
</div>
<div class="trending-section">
  <div class="trending-items">
    <div class="items-img">
      <img src="../../../../assets/images/gray-cushion.jpg" alt="gray-cushion">
    </div>
    <span class="items-name">
      کوسن ماندلا
    </span>
    <div class="items-info">
      <span class="items-size">50 X 70</span>
      <span class="items-price">230,000 تومان</span>
    </div>
  </div>
  <div class="trending-items">
    <div class="items-img">
      <img src="../../../../assets/images/gray-cushion.jpg" alt="gray-cushion">
    </div>
    <span class="items-name">
      کوسن ماندلا
    </span>
    <div class="items-info">
      <span class="items-size">50 X 70</span>
      <span class="items-price">230,000 تومان</span>
    </div>
  </div>
  <div class="trending-items">
    <div class="items-img">
      <img src="../../../../assets/images/gray-cushion.jpg" alt="gray-cushion">
    </div>
    <span class="items-name">
      کوسن ماندلا
    </span>
    <div class="items-info">
      <span class="items-size">50 X 70</span>
      <span class="items-price">230,000 تومان</span>
    </div>
  </div>
</div>
