<div class="container">
  <div class="profile-section">
    <div class="user-section">
      <img class="user-img" src="../../../assets/images/optimizes-images/me.JPG" alt="Me">
      <p class="user-name">عرفان نارشیرین</p>
    </div>
    <div class="user-info">
      <p>
         نام : عرفان
      </p>
      <p>
         نام خانوادگی : نارشیرین
      </p>
      <p>
        0998-145-2488 : شماره تماس
      </p>
      <p>
        erfan98nari@gmail.com : ایمیل
      </p>
      <p>
        ******** : گذرواژه
      </p>
    </div>
  </div>
</div>
