<div class="container">
  <div class="store-handlers">
    <div class="arrows">
      <img src="../../../assets/icons/right-arrow-svgrepo-com.svg" alt="rightArrow">
      <span>قبلی</span>
    </div>
    <div class="page-num">
      <a href="">1</a>
      <a href="">2</a>
      <a href="">3</a>
      <a href="">4</a>
      <a href="">5</a>
    </div>
    <div class="arrows">
      <span>بعدی</span>
      <img src="../../../assets/icons/left-arrow-angle-svgrepo-com (1).svg" alt="leftArrow">
    </div>
  </div>
</div>
