<div class="cock-pit">
  <!-- <img class="login-back mt-2" src="../../../assets/images/login-back2.jpg" alt=""> -->
  <div class="login">
    <div class="enter-text">
      <span>ورود</span>
    </div>
    <form class="form" [(ngModel)] ="userLogin" (ngSubmit)= "userEntry()">
      <div class="inputs">
        <div class="email form-group ">
          <label for="email" class="labels">
            <span class="label-text">
             (فارسی) نام کاربری
            </span>
            <input type="email" class="entry" placeholder="نام کاربری خود را وارد کنید" id="email" name="email" required
              [(ngModel)]= "userLogin.email" />
          </label>
        </div>
        <div class="password form-group">
          <label for="password" class="labels">
            <span class="label-text">
              گذرواژه
            </span>
            <input type="password" class="entry" placeholder="گذرواژه خود را وارد کنید" id="password" name="password"
              required [(ngModel)]= "userLogin.password"/>
          </label>
        </div>
      </div>
      <div class="forgot-pass">
        <a href="https://www.google.com">
          فراموشی رمز؟
        </a>
      </div>
      <div class="more-option my-4">
        <label class="option-text">
          <p>
            نشان دادن گذرواژه
          </p>
          <input (click)="showPassword()" id="passShow" class="pass-checkbox" type="checkbox"/>
        </label>
        <label class="option-text">
          <p>
            مرا به خاطر بسپار
          </p>
          <input class="remember-checkbox" type="checkbox" />
        </label>
      </div>
      <div class="submit-area">
        <input class="submit-button" id="login-btn" type="submit" value="ورود">
      </div>
    </form>
    <div class="or">
      <span>یا</span>
    </div>
    <div class="login-option">
      <div class="login-icon">
        <a href="https://www.google.com">
          <img src="../../../assets/icons/google-svgrepo-com.svg" alt="">
        </a>
      </div>
      <div class="login-icon">
        <a href="https://www.google.com">
          <img src="../../../assets/icons/facebook-svgrepo-com.svg" alt="">
        </a>
      </div>
      <div class="login-icon">
        <a href="https://www.google.com">
          <img src="../../../assets/icons/spotify-svgrepo-com.svg" alt="">
        </a>
      </div>
    </div>
    <div class="sign-up">
      <span>
        حساب کاربری ندارید؟ 
        <a  routerLink ="/signUp">
          ثبت نام کنید
        </a>
      </span>
    </div>
  </div>
</div>
